h2.purpleBanner {
  background-color: #51247a;
  border: 8px inset transparent;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  height: 30px;
  vertical-align: middle;
  color: #ffffff !important;
 }
